@page
@model ListModel
@{
    //ViewData["Title"]= "All Restaurants are Will be Displayed Here!";
}
@Model.Message 



<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>